/* line 11, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent;
}

/* line 27, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
}

/* line 36, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* line 48, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
a {
  color: #428bca;
  text-decoration: none;
}
/* line 52, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}
/* line 58, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 69, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
figure {
  margin: 0;
}

/* line 76, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
img {
  vertical-align: middle;
}

/* line 81, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* line 86, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
.img-rounded {
  border-radius: 6px;
}

/* line 93, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}

/* line 106, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
.img-circle {
  border-radius: 50%;
}

/* line 113, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* line 125, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* line 141, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_scaffolding.scss */
.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/* line 9, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
/* line 16, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

/* line 24, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 30, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 41, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

/* line 47, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h1, .h1 {
  font-size: 36px;
}

/* line 48, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h2, .h2 {
  font-size: 30px;
}

/* line 49, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h3, .h3 {
  font-size: 24px;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h4, .h4 {
  font-size: 18px;
}

/* line 51, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h5, .h5 {
  font-size: 14px;
}

/* line 52, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
h6, .h6 {
  font-size: 12px;
}

/* line 58, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
p {
  margin: 0 0 10px;
}

/* line 62, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  /* line 62, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
  .lead {
    font-size: 21px;
  }
}

/* line 78, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
small,
.small {
  font-size: 85%;
}

/* line 84, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
cite {
  font-style: normal;
}

/* line 88, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}

/* line 95, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-left {
  text-align: left;
}

/* line 96, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-right {
  text-align: right;
}

/* line 97, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-center {
  text-align: center;
}

/* line 98, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-justify {
  text-align: justify;
}

/* line 99, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-nowrap {
  white-space: nowrap;
}

/* line 102, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-lowercase {
  text-transform: lowercase;
}

/* line 103, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 104, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-capitalize {
  text-transform: capitalize;
}

/* line 107, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.text-muted {
  color: #777777;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
.text-primary {
  color: #428bca;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
a.text-primary:hover {
  color: #3071a9;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
.text-success {
  color: #3c763d;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
a.text-success:hover {
  color: #2b542c;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
.text-info {
  color: #31708f;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
a.text-info:hover {
  color: #245269;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
.text-warning {
  color: #8a6d3b;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
a.text-warning:hover {
  color: #66512c;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
.text-danger {
  color: #a94442;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss */
a.text-danger:hover {
  color: #843534;
}

/* line 124, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.bg-primary {
  color: #fff;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
.bg-primary {
  background-color: #428bca;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
a.bg-primary:hover {
  background-color: #3071a9;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
.bg-success {
  background-color: #dff0d8;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
a.bg-success:hover {
  background-color: #c1e2b3;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
.bg-info {
  background-color: #d9edf7;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
a.bg-info:hover {
  background-color: #afd9ee;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
.bg-warning {
  background-color: #fcf8e3;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
a.bg-warning:hover {
  background-color: #f7ecb5;
}

/* line 5, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
.bg-danger {
  background-color: #f2dede;
}

/* line 8, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_background-variant.scss */
a.bg-danger:hover {
  background-color: #e4b9b9;
}

/* line 143, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

/* line 154, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 158, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* line 167, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.list-unstyled, .list-inline {
  padding-left: 0;
  list-style: none;
}

/* line 173, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.list-inline {
  margin-left: -5px;
}
/* line 177, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 185, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 189, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
dt,
dd {
  line-height: 1.428571429;
}

/* line 193, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
dt {
  font-weight: bold;
}

/* line 196, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
dd {
  margin-left: 0;
}

/* line 14, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.dl-horizontal dd:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 211, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 218, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

/* line 229, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}

/* line 235, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 241, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
/* line 250, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
/* line 257, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.428571429;
  color: #777777;
}
/* line 265, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

/* line 274, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
/* line 286, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}
/* line 287, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

/* line 294, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
blockquote:before,
blockquote:after {
  content: "";
}

/* line 300, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_type.scss */
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.428571429;
}

/* line 7, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_code.scss */
code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* line 15, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_code.scss */
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* line 24, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_code.scss */
kbd {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* line 32, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_code.scss */
kbd kbd {
  padding: 0;
  font-size: 100%;
  box-shadow: none;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_code.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* line 54, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_code.scss */
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}

/* line 65, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_code.scss */
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

/* line 10, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  /* line 10, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 10, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 10, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_grid.scss */
  .container {
    width: 1170px;
  }
}

/* line 30, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 14, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.container-fluid:after {
  clear: both;
}

/* line 39, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 14, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 19, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_clearfix.scss */
.row:after {
  clear: both;
}

/* line 11, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 27, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-1 {
  width: 8.3333333333%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-2 {
  width: 16.6666666667%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-3 {
  width: 25%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-4 {
  width: 33.3333333333%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-5 {
  width: 41.6666666667%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-6 {
  width: 50%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-7 {
  width: 58.3333333333%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-8 {
  width: 66.6666666667%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-9 {
  width: 75%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-10 {
  width: 83.3333333333%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-11 {
  width: 91.6666666667%;
}

/* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-12 {
  width: 100%;
}

/* line 55, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-1 {
  right: 8.3333333333%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-2 {
  right: 16.6666666667%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-4 {
  right: 33.3333333333%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-5 {
  right: 41.6666666667%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-7 {
  right: 58.3333333333%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-8 {
  right: 66.6666666667%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-10 {
  right: 83.3333333333%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-11 {
  right: 91.6666666667%;
}

/* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 45, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-1 {
  left: 8.3333333333%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-2 {
  left: 16.6666666667%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-4 {
  left: 33.3333333333%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-5 {
  left: 41.6666666667%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-7 {
  left: 58.3333333333%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-8 {
  left: 66.6666666667%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-10 {
  left: 83.3333333333%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-11 {
  left: 91.6666666667%;
}

/* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

/* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  /* line 27, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-1 {
    width: 8.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-2 {
    width: 16.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-4 {
    width: 33.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-5 {
    width: 41.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-7 {
    width: 58.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-8 {
    width: 66.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-10 {
    width: 83.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-11 {
    width: 91.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 55, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-1 {
    right: 8.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-2 {
    right: 16.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-4 {
    right: 33.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-5 {
    right: 41.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-7 {
    right: 58.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-8 {
    right: 66.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-10 {
    right: 83.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-11 {
    right: 91.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 45, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-1 {
    left: 8.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-2 {
    left: 16.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-4 {
    left: 33.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-5 {
    left: 41.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-7 {
    left: 58.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-8 {
    left: 66.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-10 {
    left: 83.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-11 {
    left: 91.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  /* line 27, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-1 {
    width: 8.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-2 {
    width: 16.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-4 {
    width: 33.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-5 {
    width: 41.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-7 {
    width: 58.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-8 {
    width: 66.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-10 {
    width: 83.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-11 {
    width: 91.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 55, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-1 {
    right: 8.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-2 {
    right: 16.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-4 {
    right: 33.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-5 {
    right: 41.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-7 {
    right: 58.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-8 {
    right: 66.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-10 {
    right: 83.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-11 {
    right: 91.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 45, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-1 {
    left: 8.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-2 {
    left: 16.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-4 {
    left: 33.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-5 {
    left: 41.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-7 {
    left: 58.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-8 {
    left: 66.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-10 {
    left: 83.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-11 {
    left: 91.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-1 {
    width: 8.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-2 {
    width: 16.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-4 {
    width: 33.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-5 {
    width: 41.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-7 {
    width: 58.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-8 {
    width: 66.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-10 {
    width: 83.3333333333%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-11 {
    width: 91.6666666667%;
  }

  /* line 35, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 55, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-1 {
    right: 8.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-2 {
    right: 16.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-4 {
    right: 33.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-5 {
    right: 41.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-7 {
    right: 58.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-8 {
    right: 66.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-10 {
    right: 83.3333333333%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-11 {
    right: 91.6666666667%;
  }

  /* line 50, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 45, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-1 {
    left: 8.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-2 {
    left: 16.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-4 {
    left: 33.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-5 {
    left: 41.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-7 {
    left: 58.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-8 {
    left: 66.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-10 {
    left: 83.3333333333%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-11 {
    left: 91.6666666667%;
  }

  /* line 40, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-0 {
    margin-left: 0%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  /* line 60, ../../../../../../apps/tools/ruby/Ruby200-x64/lib/ruby/gems/2.0.0/gems/bootstrap-sass-3.2.0.1/assets/stylesheets/bootstrap/mixins/_grid-framework.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
/* optus beta bold */
@font-face {
  font-family: "optus_voice_betabold", Arial, Helvetica, sans-serif;
  src: url("fonts/optusvoice_20130708_01-webfont.eot");
  src: url("fonts/optusvoice_20130708_01-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/optusvoice_20130708_01-webfont.ttf") format("truetype"), url("fonts/optusvoice_20130708_01-webfont.woff") format("woff"), url("fonts/optusvoice_20130708_01-webfont.svg#optus-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 3, ../../src/stylesheets/components/_progress-bar.scss */
.progress {
  display: block;
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 1rem;
  background-color: #EDEDED;
  overflow: hidden;
  margin: .5rem 0;
}
/* line 14, ../../src/stylesheets/components/_progress-bar.scss */
.progress .progress-bar {
  display: inline-block;
  height: 2rem;
  width: 0%;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  text-align: center;
  color: white;
}
/* line 25, ../../src/stylesheets/components/_progress-bar.scss */
.progress .progress-bar.alert {
  background-color: #80276C;
}
/* line 29, ../../src/stylesheets/components/_progress-bar.scss */
.progress .progress-bar.warn {
  background-color: #FF8200;
}
/* line 33, ../../src/stylesheets/components/_progress-bar.scss */
.progress .progress-bar.success {
  background-color: #33a640;
}

/* line 3, ../../src/stylesheets/components/_usage.scss */
.usage h2, .usage h3 {
  font-weight: 200;
  font-family: "optus_voice_betabold", Arial, Helvetica, sans-serif;
  color: black;
}
/* line 9, ../../src/stylesheets/components/_usage.scss */
.usage h2 {
  font-size: 2rem;
  font-family: "optus_voice_betabold", Arial, Helvetica, sans-serif;
  padding: 0 0 .5rem 0;
  border-bottom: 1px solid #ACA39A;
}
/* line 16, ../../src/stylesheets/components/_usage.scss */
.usage h3 {
  margin: 0;
  padding: 0 0 1rem;
  font-size: 1.8rem;
  color: #006685;
}
/* line 23, ../../src/stylesheets/components/_usage.scss */
.usage .usage-entity {
  padding: 1.5rem 1rem 1rem;
  background: #FAFAFA;
  margin-bottom: 1rem;
  border: 0.1rem solid #eaeaea;
  box-shadow: 0.1rem 0.3rem 0.4rem #eaeaea;
  border-radius: 1rem;
}
